.third-sec{
	margin-bottom: 20px;
}
.third-sec .materials{
	margin-top: 20px;
	margin-bottom: 20px;
 width: 50%;
}
.third-sec .video{
	display: block;
	margin: auto;
	height: 400px;
}

.posts-title .excert{
	color: rgba(0, 0, 0, 1);
}


.single-post .ar{
	float: right;
}
